body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(235, 232, 232) ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header{
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    position: fixed;
    z-index: 10;
    top: 0%;
    width: 100%;
    border-bottom: 1px solid gray;
   
  
}

header img{
    padding-left: 20px;
    padding-top: 6px;
}
nav{
    text-decoration: none;
    
}
ul{
    display: flex;
    flex-direction: row;
   
}

 hr{
    color: gainsboro;
 }  


   

 li a{
  
    margin: 70px;
        
}

li a:hover{
    
    color: #55a270;
}

nav a{
    
    text-align: center;
    color: black;
    text-decoration: none;
       
  
}
main{
    padding-bottom: 50px;
    margin: 30px  13%;
    display: flex;
    flex-direction: row;  
    max-width: 100%;
    background-color: white;
   padding-bottom: 20px;
}
.centrale img{
  
}
 .centrale h3{
    text-align: center;
    color: #ef2132;

}
 h1 {
    font-size: 40px;
    text-align: center;
    width: 600px;
   padding-bottom: 20px;
}
.centrale{
    
padding-top: 130px;
background-color: white;


  

}
.centrale a{
    color: black;
    text-decoration: none;
    
    
}
.bas{
    padding-left: 40px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   width: 650px;
   row-gap: 10px;
   column-gap: 20px;
   padding-bottom: 20px;
   background-color: white;
}
.bas img {
    float: left;
    padding-right: 5px;
}
.enbasx2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 40px;
    width: 600px;
    background-color: white;
}
article span{
    font-weight: 700;
}



.leside{
     padding-left: 30px;
     padding-top: 130px;
    background-color: white;
    padding-right: 10px;
    
}


.logo{
    height: 126px;
    width: 320px;
    background-color: #efbcc0;
    display: flex;
    align-items: center;
    justify-content: center;
    
   

}
.sousside{
    width: 312px ;
    padding-top: 20px;
    
   
    
   
}
.sousside a{
   
    color: black;
    text-decoration: none;
    
    
   
}
.sousside p{
    font-size: 14px;
   
   
}
.sousside img{
    float: left;
    padding-right: 5px;

    
}

.centrale p {
    font-size: 14px;
   
   
}
li{
    list-style-type: none;
}

.newles{
    
    font-size: 13px;
    width: 310px;
    border: 1px solid gray;
   
    height: 210px;
    background-color:  #efbcc0 ;
    padding-right: 10px;
   
  
}


p{
    margin:  8 0px;
}
    

.ca  {
    color:#55a270;
}
button{
    padding: 10px;
   
}

.newles input , button , p , h4{
   
    margin: 8px;
}
@media ( max-width:1000px ) {
    main{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       background: 100%;
      
        
    }
    .leside{
        width :650px;
        
        
      }

    header {
     flex-wrap: wrap;
    }
    
    .centrale{
      align-items: center;
      justify-content: center;
    }
    
}